@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-size: cover;
  background-image: url("images/spring.jpg");
  height: 100vh;
  width: auto;
}

.spring {
  background-image: url("images/spring.jpg");
}

.summer {
  background-image: url("images/summer.png");
}

.autumn {
  background-image: url("images/autumn.jpg");
}

.winter {
  background-image: url("images/winter.png");
}

i {
  color: white;
  font-size: 30px;
  padding: 20px;
}

.words {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.objects-container {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 150px;
  display: grid;
  grid-template-areas: "o o o o o o o o o o o o o o o o o o o o" "o o o o o o o o o o o o o o o o o o o o" "o o o o o o o o o o o o o o o o o o o o" "o o o o o o o o o o o o o o o o o o o o" "o o o o o o o o o o o o o o o o o o o o";
}

.start {
  margin: 10px;
  border-radius: 10px;
  background-color: palevioletred;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  width: 200px;
  font-size: 24px;
  font-weight: bold;
}

.target-container, .input-container {
  margin: 10px;
  position: relative;
  display: None;
  font-size: 18px;
  border-radius: 10px;
}

.target-container {
  font-weight: bold;
  font-size: 32px;
}

.main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.footer {
  height: 40vh;
}